html {
  font-size: var(--fontSize);
  line-height: var(--lineHeight);
}
body {
  font-size: var(--fontSize);
  line-height: var(--lineHeight);
}
::selection {
  background-color: var(--colors-selection);
  text-shadow: none !important;
}
