{{ define "main" }}
  <article class="container px-4 mx-auto">
    <header class="mb-12">
      <h1 class="mt-4 leading-tight">{{ .Title | title }}</h1>
    </header>
    <div class="prose lg:prose-lg">
      {{ with .Params.canonical }}
        {{ $url := urls.Parse . }}
        <div
          class="p-2 text-sm leading-snug border rounded font-display bg-grey-lightest border-grey-light text-grey-darkest"
        >
          This article was originally published at
          <a href="{{ . }}" class="font-medium" rel="nofollow noopener">
            {{ $url.Host }}
          </a>
        </div>
      {{ end }}

      {{ .Content }}
    </div>
    <footer class="mt-12 text-sm">
      <p class="mb-0">
        <time datetime="{{ .Date.Format .Site.Params.timeFormatRFC3339 }}">
          {{- .Date.Format .Site.Params.timeFormatDefault -}}
        </time>
      </p>
      {{ partial "category-meta.html" . }}
    </footer>
    {{ partial "related.html" . }}
  </article>
{{ end }}
